.centralflex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .centralflex {
  }
  .w-50 {
    width: 90% !important;
  }
}

.hover:hover {
  background-color: #ccc;
}

.selected {
  background-color: #fcc;
}
