<div class="container centralizado">
  <div class="card w-100">
    <div class="card-body">
      <h1>Selecione o partido de ingresso:</h1>
    </div>
    <div class="card-body">
        <ng-container *ngFor="let partido of partidos">
          <div class="row hover" (click)="onSelecionar(partido)" [ngClass]="{ 'selected': partido.id == partidoSelecionado?.id }">
            <div class="col">
              <img src="/assets/bandeiras/{{partido.bandeira}}" alt="" width="75" height="75">
            </div>
            <div class="col">
              <div class="row">{{partido.sigla}}</div>
              <div class="row">{{partido.numero}}</div>
              <div class="row">{{partido.nome}}</div>
            </div>
          </div>
        </ng-container>
    </div>
    <div class="card-body">
      <div class="d-grid">
        <button class="btn btn-primary" (click)="onVoltar()">Voltar</button>
        <button class="btn btn-primary mt-1">Próximo</button>
      </div>
    </div>
  </div>
</div>
