.centralflex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .centralflex {
  }
  .w-50 {
    width: 90% !important;
  }
  .formulario-control {
    display: flex;
    flex-direction: column;
  }
  .col {
    width: 100vw;
  }
}

.hover:hover {
  background-color: #ccc;
}

.selected {
  background-color: #fcc;
}
