<div class="navbar bg-primary">
  <button class="btn btn-primary" (click)="onVoltar()">
    <i class="pi pi-arrow-left"></i> Voltar
  </button>
</div>

<div class="container">

  <!-- Logado como -->
  <ng-container *ngIf="usuario">
    <div class="card mt-1">
      <div class="card-header">
        Logado como:
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <!-- FOTO -->
            <ng-container *ngIf="usuario.foto; else nopic">
              <img src="{{ URL_PICTURE }}/{{ usuario.foto[0].arquivo }}" class="" alt="" width="50" height="50">
            </ng-container>
            <ng-template #nopic>
              <img src="./assets/nopic.jpeg" class="" alt="" width="50" height="50">
            </ng-template>
            <!-- FOTO F -->
            <img src="/assets/bandeiras/{{usuario.partido.bandeira}}" alt="" width="50" height="50">
          </div>
          <div class="col">
            <div class="row">
              {{usuario.apelido}}
            </div>
            <div class="row">
              {{usuario.partido.sigla}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>


  <!-- Feed -->
  <ng-container *ngIf="feed; else loading">
    <div class="card mt-1">
      <div class="card-header">
        <img src="/assets/bandeiras/{{feed.usuario.partido.bandeira}}" alt="" width="25" height="25">
        {{feed.usuario.partido.sigla}} - {{feed.usuario.apelido}} <span class="badge bg-secondary">{{feed.create_at | date : 'dd/MM/yyyy HH:mm' }}</span>
      </div>
      <div class="card-body">
        <p>{{feed.texto}}</p>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="justify-content-center d-flex">
      <i class="pi pi-spin pi-spinner"></i>
    </div>
  </ng-template>

  <!-- Comments -->
  <ng-container *ngFor="let comment of comments">
    <div class="card mt-1">
      <div class="card-header">
        <img src="/assets/bandeiras/{{comment.usuario.partido.bandeira}}" alt="" width="25" height="25">
        {{comment.usuario.partido.sigla}} - {{comment.usuario.apelido}} <span class="badge bg-secondary">{{comment.create_at | date : 'dd/MM/yyyy HH:mm' }}</span>
      </div>
      <div class="card-body">
        <p>{{comment.texto}}</p>
      </div>
    </div>
  </ng-container>

    <!-- Input -->
    <div class="card mt-1">
      <div class="card-header">
        Nova postagem:
      </div>
      <div class="card-body">
        <textarea [(ngModel)]="post" class="form-control" cols="30" rows="2"></textarea>
        <div class="d-grid">
          <button class="btn btn-primary" (click)="onPostar()">
            Postar
          </button>
        </div>
      </div>
    </div>

</div>
